default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext
                - Behatch\Context\RestContext
                - Behatch\Context\JsonContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Kernel
                environment: test
                debug: true
        Sanpi\Behatch\Extension: ~
